<div class="projects-section-header">
    <p>MY COURSES</p>
    <p class="time">December, 12</p>
    </div>
<div class="cont"> 
  <div class="profile-card-6 Basics"><img src="https://t4.ftcdn.net/jpg/02/14/74/61/360_F_214746128_31JkeaP6rU0NzzzdFC4khGkmqc8noe6h.jpg" class=" ">
      <div class="profile-name">Men's Habits
          <br>Shaving</div>
      <div class="profile-position">Lorem Ipsum Donor</div>
      <div class="profile-overview">
          <div class="profile-overview">
              <div class="row-courses">
                  <div class="col-xs-4">
                      <h3>1</h3>
                      <p>Weeks</p>
                  </div>
                  <div class="col-xs-4">
                      <h3>2</h3>
                      <p>Episodes</p>
                  </div>
                  <div class="col-xs-4">
                      <h3>35</h3>
                      <p>Members</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="profile-card-6 Fundamental"><img src="https://ih1.redbubble.net/image.399557482.5366/flat,750x,075,f-pad,750x1000,f8f8f8.u15.jpg" class=" ">
    <div class="profile-name">Django
        <br>Fundamental</div>
    <div class="profile-position">Lorem Ipsum Donor</div>
    <div class="profile-overview">
        <div class="profile-overview">
            <div class="row-courses">
                <div class="col-xs-4">
                    <h3>13</h3>
                    <p>Weeks</p>
                </div>
                <div class="col-xs-4">
                    <h3>43</h3>
                    <p>Episodes</p>
                </div>
                <div class="col-xs-4">
                    <h3>67</h3>
                    <p>Members</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="profile-card-6 Advance"><img src="https://miro.medium.com/v2/resize:fit:740/0*4HxmoUyeXbMQDOtu.png" class=" ">
<div class="profile-name">React
    <br>Basics</div>
<div class="profile-position">Lorem Ipsum Donor</div>
<div class="profile-overview">
    <div class="profile-overview">
        <div class="row-courses">
            <div class="col-xs-4">
                <h3>8</h3>
                <p>Weeks</p>
            </div>
            <div class="col-xs-4">
                <h3>12</h3>
                <p>Episodes</p>
            </div>
            <div class="col-xs-4">
                <h3>212</h3>
                <p>Members</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="profile-card-6 Specialization"><img src="https://www.igmguru.com/uploads/products/devops-training-igmguru_734041213_xl.jpg" class=" ">
<div class="profile-name">DevOps
  <br>Specialization</div>
<div class="profile-position">Lorem Ipsum Donor</div>
<div class="profile-overview">
  <div class="profile-overview">
      <div class="row-courses">
          <div class="col-xs-4">
              <h3>5</h3>
              <p>Weeks</p>
          </div>
          <div class="col-xs-4">
              <h3>9</h3>
              <p>Episodes</p>
          </div>
          <div class="col-xs-4">
              <h3>72</h3>
              <p>Members</p>
          </div>
      </div>
  </div>
</div>
</div>
</div> 
<div class="projects-section-header">
    <p>MY PLAYLISTS</p>
    <p class="time">EXAMPLE</p>
    </div>
<div class="cards-list">

    <div class="card_list">
      <div class="card_image"> <img style="filter: none;" src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>
    <div class="card_list">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card_title title-white">
        <p>Card Title</p>
        </div>
    </div>
    <div class="card_list">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card_title title-white">
        <p>Card Title</p>
        </div>
    </div>
    <div class="card_list">
      <div class="card_image"> <img style="filter: none;" src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>
    <div class="card_list">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card_title title-white">
        <p>Card Title</p>
        </div>
    </div>
    <div class="card_list">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card_title title-white">
        <p>Card Title</p>
        </div>
    </div>
    <div class="card_list">
      <div class="card_image"> <img style="filter: none;" src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>
    <div class="card_list">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card_title title-white">
        <p>Card Title</p>
        </div>
    </div>
    <div class="card_list">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card_title title-white">
        <p>Card Title</p>
        </div>
    </div>

             </div> 
<div class="bottom"></div> 
            </div>
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                     
                      <section class="latest-podcast-section " id="section_2">
                      <!-- section-padding pb-0 -->
                          <div class="container">
                              <div class="row justify-content-center">
              
                                  <div class="col-lg-10 col-12">
                                      <div class="section-title-wrap mb-5">
                                          <h4 class="section-title">Course details</h4>
                                      </div>
              
                                      <div class="row">
                                          <div class="col-lg-3 col-12">
                                              <div class="custom-block-icon-wrap">
                                                  <div class="custom-block-image-wrap custom-block-image-detail-page">
                                                      <img src="images/podcast/11683425_4790593.jpg" class="custom-block-image img-fluid" alt="">
                                                  </div>
                                              </div>
                                          </div>
              
                                          <div class="col-lg-9 col-12">
                                              <div class="custom-block-info">
                                                  <div class="custom-block-top d-flex mb-1">
                                                      <small class="me-4">
                                                          <a href="#">
                                                              <i class="bi-play"></i>
                                                              Play now
                                                          </a>
                                                      </small>
              
                                                      <small>
                                                          <i class="bi-clock-fill custom-icon"></i>
                                                          13 Minutes
                                                      </small>
              
                                                      <small class="ms-auto">Episodes <span class="badge">5</span></small>
                                                  </div>
              
                                                  <h2 class="mb-2">Modern Vintage</h2>
              
                                                  <p>What is Content Marketing? If you are wondering what content marketing is all about, this is the place to start.</p>
              
                                                  <p>You are not allowed to redistribute this template ZIP file on any other template collection website. Please contact TemplateMo for more information.</p>
              
                                                  <p>Pod Talk HTML CSS Template is made by Bootstrap v5.2.2 framework. You are allowed to modify and use this template for your business websites.</p>
              
                                                  <div class="profile-block profile-detail-block d-flex flex-wrap align-items-center mt-5">
                                                      <div class="d-flex mb- mb-lg-0 mb-md-0">
                                                          <img src="images/profile/woman-posing-black-dress-medium-shot.jpg" class="profile-block-image img-fluid" alt="">
              
                                                          <p>
                                                              Elsa
                                                              <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                                              <strong>Influencer</strong>
                                                          </p>
                                                      </div>
                                                      <div class="mt-2 mb-3">
                                                          <a href="#" class="btn custom-btn">
                                                              Subscribe
                                                          </a>
                                                          <a href="#" class="btn custom-btn">
                                                              +
                                                          </a>
                                                      </div> 
              
                                                      <!-- <ul class="social-icon ms-lg-auto ms-md-auto">
                                                          <li class="social-icon-item">
                                                              <a href="#" class="social-icon-link bi-instagram"></a>
                                                          </li>
              
                                                          <li class="social-icon-item">
                                                              <a href="#" class="social-icon-link bi-twitter"></a>
                                                          </li>
              
                                                          <li class="social-icon-item">
                                                              <a href="#" class="social-icon-link bi-whatsapp"></a>
                                                          </li>
                                                      </ul> -->
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
              
                              </div>
                          </div>
                      </section>
                      <!--  -->
                      <div class="col-lg-12 col-12 top-gap">
                          <div class="section-title-wrap mb-4">
                          <h4 class="section-title">episodes</h4>
                          </div>
                      </div>
                      <div class="row justify-content-center bottom-gap">
              
                                  <div class="col-lg-6 episode  mb-3 mb-lg-0">
                                      <div class="custom-block d-flex  ">
                                          <div class="episode-img">
                                              <div class="custom-block-icon-wrap">
                                                  <div class="section-overlay"></div>
                                                  <a href="detail-page.html" class="custom-block-image-wrap">
                                                      <img src="https://img.freepik.com/free-psd/daily-podcast-banner-template_23-2149182935.jpg" class="custom-block-image img-fluid" alt="">
              
                                                      <a href="#" class="custom-block-icon">
                                                          <i class="bi-play-fill"></i>
                                                      </a>
                                                  </a>
                                              </div>
              
                                              <!-- <div class="mt-2">
                                                  <a href="#" class="btn custom-btn">
                                                      Subscribe
                                                  </a>
                                              </div> -->
                                          </div>
                                          <div class="episode-text">
                                              <h5 class="mb-2">
                                                  <a href="detail-page.html">
                                                      Introduction to modern vintage
                                                  </a>
                                              </h5>
                                              <small>Episode <span class="badge">1</span></small>
                                              
                                              <!-- <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p> -->
                                          </div>
                                          <div class="custom-block-info">
                                              <div class="custom-block-top d-flex  ">
                                                  <small class="me-">
                                                      <i class="bi-clock-fill custom-icon"></i>
                                                      5 Minutes
                                                  </small>
              
                                              </div>
              
                                              
              
                                              <!-- <div class="profile-block d-flex">
                                                  <img src="images/profile/woman-posing-black-dress-medium-shot.jpg" class="profile-block-image img-fluid" alt="">
              
                                                  <p>
                                                      Elsa
                                                      <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                                      <strong>Influencer</strong></p>
                                              </div> -->
              
                                              
                                              <!-- <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                                  <a href="#" class="bi-headphones me-1">
                                                      <span>120k</span>
                                                  </a>
              
                                                  <a href="#" class="bi-heart me-1">
                                                      <span>42.5k</span>
                                                  </a>
              
                                                  <a href="#" class="bi-chat me-1">
                                                      <span>11k</span>
                                                  </a>
              
                                                  <a href="#" class="bi-download">
                                                      <span>50k</span>
                                                  </a>
                                              </div> -->
                                          </div>
              
                                          <!-- <div class="d-flex flex-column ms-auto">
                                              <a href="#" class="badge ms-auto">
                                                  <i class="bi-heart"></i>
                                              </a>
              
                                              <a href="#" class="badge ms-auto">
                                                  <i class="bi-bookmark"></i>
                                              </a>
                                          </div> -->
                                      </div>
                                  </div>
                                  <div class="col-lg-6 episode  mb-3 mb-lg-0">
                                      <div class="custom-block d-flex  ">
                                          <div class="episode-img">
                                              <div class="custom-block-icon-wrap">
                                                  <div class="section-overlay"></div>
                                                  <a href="detail-page.html" class="custom-block-image-wrap">
                                                      <img src="https://cdn.pixabay.com/photo/2023/11/19/09/12/podcast-banner-8398373_1280.jpg" class="custom-block-image img-fluid" alt="">
              
              
                                                      <a href="#" class="custom-block-icon">
                                                          <i class="bi-play-fill"></i>
                                                      </a>
                                                  </a>
                                              </div>
              
                                              <!-- <div class="mt-2">
                                                  <a href="#" class="btn custom-btn">
                                                      Subscribe
                                                  </a>
                                              </div> -->
                                          </div>
                                          <div class="episode-text">
                                              <h5 class="mb-2">
                                                  <a href="detail-page.html">
                                                      Design basics
                                                  </a>
                                              </h5>
                                              <small>Episode <span class="badge">2</span></small>
                                              
                                              <!-- <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p> -->
                                          </div>
                                          <div class="custom-block-info">
                                              <div class="custom-block-top d-flex  ">
                                                  <small class="me-">
                                                      <i class="bi-clock-fill custom-icon"></i>
                                                      48 Minutes
                                                  </small>
              
                                              </div>
              
                                              
              
                                              <!-- <div class="profile-block d-flex">
                                                  <img src="images/profile/woman-posing-black-dress-medium-shot.jpg" class="profile-block-image img-fluid" alt="">
              
                                                  <p>
                                                      Elsa
                                                      <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                                      <strong>Influencer</strong></p>
                                              </div> -->
              
                                              
                                              <!-- <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                                  <a href="#" class="bi-headphones me-1">
                                                      <span>120k</span>
                                                  </a>
              
                                                  <a href="#" class="bi-heart me-1">
                                                      <span>42.5k</span>
                                                  </a>
              
                                                  <a href="#" class="bi-chat me-1">
                                                      <span>11k</span>
                                                  </a>
              
                                                  <a href="#" class="bi-download">
                                                      <span>50k</span>
                                                  </a>
                                              </div> -->
                                          </div>
              
                                          <!-- <div class="d-flex flex-column ms-auto">
                                              <a href="#" class="badge ms-auto">
                                                  <i class="bi-heart"></i>
                                              </a>
              
                                              <a href="#" class="badge ms-auto">
                                                  <i class="bi-bookmark"></i>
                                              </a>
                                          </div> -->
                                      </div>
                                  </div>
                      </div>
                      <!--  -->
                  </div>
                    
                  </div>
                </div>