<div class="projects-section-header">
    <p>MY COURSES</p>
    <p class="time">December, 12</p>
    </div>
<div class="cont"> 
  <div class="profile-card-6 Basics"><img src="https://t4.ftcdn.net/jpg/02/14/74/61/360_F_214746128_31JkeaP6rU0NzzzdFC4khGkmqc8noe6h.jpg" class=" ">
      <div class="profile-name">Men's Habits
          <br>Shaving</div>
      <div class="profile-position">Lorem Ipsum Donor</div>
      <div class="profile-overview">
          <div class="profile-overview">
              <div class="row-courses">
                  <div class="col-xs-4">
                      <h3>1</h3>
                      <p>Weeks</p>
                  </div>
                  <div class="col-xs-4">
                      <h3>2</h3>
                      <p>Episodes</p>
                  </div>
                  <div class="col-xs-4">
                      <h3>35</h3>
                      <p>Members</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="profile-card-6 Fundamental"><img src="https://ih1.redbubble.net/image.399557482.5366/flat,750x,075,f-pad,750x1000,f8f8f8.u15.jpg" class=" ">
    <div class="profile-name">Django
        <br>Fundamental</div>
    <div class="profile-position">Lorem Ipsum Donor</div>
    <div class="profile-overview">
        <div class="profile-overview">
            <div class="row-courses">
                <div class="col-xs-4">
                    <h3>13</h3>
                    <p>Weeks</p>
                </div>
                <div class="col-xs-4">
                    <h3>43</h3>
                    <p>Episodes</p>
                </div>
                <div class="col-xs-4">
                    <h3>67</h3>
                    <p>Members</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="profile-card-6 Advance"><img src="https://miro.medium.com/v2/resize:fit:740/0*4HxmoUyeXbMQDOtu.png" class=" ">
<div class="profile-name">React
    <br>Basics</div>
<div class="profile-position">Lorem Ipsum Donor</div>
<div class="profile-overview">
    <div class="profile-overview">
        <div class="row-courses">
            <div class="col-xs-4">
                <h3>8</h3>
                <p>Weeks</p>
            </div>
            <div class="col-xs-4">
                <h3>12</h3>
                <p>Episodes</p>
            </div>
            <div class="col-xs-4">
                <h3>212</h3>
                <p>Members</p>
            </div>
        </div>
    </div>
</div>
</div>
<div class="profile-card-6 Specialization"><img src="https://www.igmguru.com/uploads/products/devops-training-igmguru_734041213_xl.jpg" class=" ">
<div class="profile-name">DevOps
  <br>Specialization</div>
<div class="profile-position">Lorem Ipsum Donor</div>
<div class="profile-overview">
  <div class="profile-overview">
      <div class="row-courses">
          <div class="col-xs-4">
              <h3>5</h3>
              <p>Weeks</p>
          </div>
          <div class="col-xs-4">
              <h3>9</h3>
              <p>Episodes</p>
          </div>
          <div class="col-xs-4">
              <h3>72</h3>
              <p>Members</p>
          </div>
      </div>
  </div>
</div>
</div>
</div> 
<div class="projects-section-header">
    <p>MY PLAYLISTS</p>
    <p class="time">EXAMPLE</p>
    </div>
<div class="cards-list">

    <div class="card_list">
      <div class="card_image"> <img style="filter: none;" src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>
    <div class="card_list">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card_title title-white">
        <p>Card Title</p>
        </div>
    </div>
    <div class="card_list">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card_title title-white">
        <p>Card Title</p>
        </div>
    </div>
    <div class="card_list">
      <div class="card_image"> <img style="filter: none;" src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>
    <div class="card_list">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card_title title-white">
        <p>Card Title</p>
        </div>
    </div>
    <div class="card_list">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card_title title-white">
        <p>Card Title</p>
        </div>
    </div>
    <div class="card_list">
      <div class="card_image"> <img style="filter: none;" src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
      <div class="card_title title-white">
        <p>Card Title</p>
      </div>
    </div>
    <div class="card_list">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card_title title-white">
        <p>Card Title</p>
        </div>
    </div>
    <div class="card_list">
        <div class="card_image"> <img src="https://i.redd.it/b3esnz5ra34y.jpg" /> </div>
        <div class="card_title title-white">
        <p>Card Title</p>
        </div>
    </div>

             </div> 
<div class="bottom"></div> 
            </div>