
{% extends 'User_views/base.html' %}
{% load static %}
<!--  -->
{% block title %}

    Main Page

{% endblock title%}
<!-- ------------------- -->
{% block links %}
<link rel="stylesheet" href="{% static 'SocialMedia/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'SocialMedia/css/podcast.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">



{% endblock links %}
<!--  -->

{% block style %}

.d-flex{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.episode-text{
    padding-left:10px ;
  }
  .bottom-gap{
    margin-bottom: 70px;
  }
  .top-gap{
    margin-top: 20px;
  }
  .episode-text small {
    color: var(--p-color);
}
  
  .custom-block-image-wrap > a {
    display: block;
  }
  .episode{
    margin: 20px auto;
    width: 100%;
  
    max-width: 390px;
    max-height: 80px;
    margin-bottom: 20px;
  }
  .justify-content-center{
    gap: 2.5em;
  }
  .episode-img{
    width:40%;
  }
  .profile-block{
    padding:20px;
  }

{% endblock style %}
<!--  -->
---------------------------------------------------------------------------------------------------------------------
<!--  -->
{% block body %}
<div class="projects-section"> 
             
    <div class="projects-section-header">
        <p>HOME</p>
        <p class="time">December, 12</p>
        </div>
        <div class="projects-section-line">
            <div class="projects-status">
            <div class="item-status">
            <span class="status-number">45</span>
            <span class="status-type">In Progress</span>
            </div>
            <div class="item-status">
            <span class="status-number">24</span>
            <span class="status-type">Upcoming</span>
            </div>
            <div class="item-status">
            <span class="status-number">62</span>
            <span class="status-type">Total Projects</span>
            </div>
            </div>
            <div class="view-actions">
            <button class="view-btn list-view" title="List View">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
            <line x1="8" y1="6" x2="21" y2="6" />
            <line x1="8" y1="12" x2="21" y2="12" />
            <line x1="8" y1="18" x2="21" y2="18" />
            <line x1="3" y1="6" x2="3.01" y2="6" />
            <line x1="3" y1="12" x2="3.01" y2="12" />
            <line x1="3" y1="18" x2="3.01" y2="18" /></svg>
            </button>
            <button class="view-btn grid-view active" title="Grid View">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
            <rect x="3" y="3" width="7" height="7" />
            <rect x="14" y="3" width="7" height="7" />
            <rect x="14" y="14" width="7" height="7" />
            <rect x="3" y="14" width="7" height="7" /></svg>
            </button>
            </div>
            </div>
<!-- #############################################################3 -->
    <div class="project-boxes jsGridView">
        <section class="latest-podcast-section " id="section_2">
        <!-- section-padding pb-0 -->
            <div class="container">
                <div class="row justify-content-center">

                    <div class="col-lg-10 col-12">
                        <div class="section-title-wrap mb-5">
                            <h4 class="section-title">Course details</h4>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 col-12">
                                <div class="custom-block-icon-wrap">
                                    <div class="custom-block-image-wrap custom-block-image-detail-page">
                                        <img src="images/podcast/11683425_4790593.jpg" class="custom-block-image img-fluid" alt="">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-9 col-12">
                                <div class="custom-block-info">
                                    <div class="custom-block-top d-flex mb-1">
                                        <small class="me-4">
                                            <a href="#">
                                                <i class="bi-play"></i>
                                                Play now
                                            </a>
                                        </small>

                                        <small>
                                            <i class="bi-clock-fill custom-icon"></i>
                                            13 Minutes
                                        </small>

                                        <small class="ms-auto">Episodes <span class="badge">5</span></small>
                                    </div>

                                    <h2 class="mb-2">Modern Vintage</h2>

                                    <p>What is Content Marketing? If you are wondering what content marketing is all about, this is the place to start.</p>

                                    <p>You are not allowed to redistribute this template ZIP file on any other template collection website. Please contact TemplateMo for more information.</p>

                                    <p>Pod Talk HTML CSS Template is made by Bootstrap v5.2.2 framework. You are allowed to modify and use this template for your business websites.</p>

                                    <div class="profile-block profile-detail-block d-flex flex-wrap align-items-center mt-5">
                                        <div class="d-flex mb- mb-lg-0 mb-md-0">
                                            <img src="images/profile/woman-posing-black-dress-medium-shot.jpg" class="profile-block-image img-fluid" alt="">

                                            <p>
                                                Elsa
                                                <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                                <strong>Influencer</strong>
                                            </p>
                                        </div>
                                        <div class="mt-2 mb-3">
                                            <a href="#" class="btn custom-btn">
                                                Subscribe
                                            </a>
                                            <a href="#" class="btn custom-btn">
                                                +
                                            </a>
                                        </div> 

                                        <!-- <ul class="social-icon ms-lg-auto ms-md-auto">
                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-instagram"></a>
                                            </li>

                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-twitter"></a>
                                            </li>

                                            <li class="social-icon-item">
                                                <a href="#" class="social-icon-link bi-whatsapp"></a>
                                            </li>
                                        </ul> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!--  -->
        <div class="col-lg-12 col-12 top-gap">
            <div class="section-title-wrap mb-4">
            <h4 class="section-title">episodes</h4>
            </div>
        </div>
        <div class="row justify-content-center bottom-gap">

                    <div class="col-lg-6 episode  mb-3 mb-lg-0">
                        <div class="custom-block d-flex  ">
                            <div class="episode-img">
                                <div class="custom-block-icon-wrap">
                                    <div class="section-overlay"></div>
                                    <a href="detail-page.html" class="custom-block-image-wrap">
                                        <img src="https://img.freepik.com/free-psd/daily-podcast-banner-template_23-2149182935.jpg" class="custom-block-image img-fluid" alt="">

                                        <a href="#" class="custom-block-icon">
                                            <i class="bi-play-fill"></i>
                                        </a>
                                    </a>
                                </div>

                                <!-- <div class="mt-2">
                                    <a href="#" class="btn custom-btn">
                                        Subscribe
                                    </a>
                                </div> -->
                            </div>
                            <div class="episode-text">
                                <h5 class="mb-2">
                                    <a href="detail-page.html">
                                        Introduction to modern vintage
                                    </a>
                                </h5>
                                <small>Episode <span class="badge">1</span></small>
                                
                                <!-- <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p> -->
                            </div>
                            <div class="custom-block-info">
                                <div class="custom-block-top d-flex  ">
                                    <small class="me-">
                                        <i class="bi-clock-fill custom-icon"></i>
                                        5 Minutes
                                    </small>

                                </div>

                                

                                <!-- <div class="profile-block d-flex">
                                    <img src="images/profile/woman-posing-black-dress-medium-shot.jpg" class="profile-block-image img-fluid" alt="">

                                    <p>
                                        Elsa
                                        <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                        <strong>Influencer</strong></p>
                                </div> -->

                                
                                <!-- <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                    <a href="#" class="bi-headphones me-1">
                                        <span>120k</span>
                                    </a>

                                    <a href="#" class="bi-heart me-1">
                                        <span>42.5k</span>
                                    </a>

                                    <a href="#" class="bi-chat me-1">
                                        <span>11k</span>
                                    </a>

                                    <a href="#" class="bi-download">
                                        <span>50k</span>
                                    </a>
                                </div> -->
                            </div>

                            <!-- <div class="d-flex flex-column ms-auto">
                                <a href="#" class="badge ms-auto">
                                    <i class="bi-heart"></i>
                                </a>

                                <a href="#" class="badge ms-auto">
                                    <i class="bi-bookmark"></i>
                                </a>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-6 episode  mb-3 mb-lg-0">
                        <div class="custom-block d-flex  ">
                            <div class="episode-img">
                                <div class="custom-block-icon-wrap">
                                    <div class="section-overlay"></div>
                                    <a href="detail-page.html" class="custom-block-image-wrap">
                                        <img src="https://cdn.pixabay.com/photo/2023/11/19/09/12/podcast-banner-8398373_1280.jpg" class="custom-block-image img-fluid" alt="">


                                        <a href="#" class="custom-block-icon">
                                            <i class="bi-play-fill"></i>
                                        </a>
                                    </a>
                                </div>

                                <!-- <div class="mt-2">
                                    <a href="#" class="btn custom-btn">
                                        Subscribe
                                    </a>
                                </div> -->
                            </div>
                            <div class="episode-text">
                                <h5 class="mb-2">
                                    <a href="detail-page.html">
                                        Design basics
                                    </a>
                                </h5>
                                <small>Episode <span class="badge">2</span></small>
                                
                                <!-- <p class="mb-0">Lorem Ipsum dolor sit amet consectetur</p> -->
                            </div>
                            <div class="custom-block-info">
                                <div class="custom-block-top d-flex  ">
                                    <small class="me-">
                                        <i class="bi-clock-fill custom-icon"></i>
                                        48 Minutes
                                    </small>

                                </div>

                                

                                <!-- <div class="profile-block d-flex">
                                    <img src="images/profile/woman-posing-black-dress-medium-shot.jpg" class="profile-block-image img-fluid" alt="">

                                    <p>
                                        Elsa
                                        <img src="images/verified.png" class="verified-image img-fluid" alt="">
                                        <strong>Influencer</strong></p>
                                </div> -->

                                
                                <!-- <div class="custom-block-bottom d-flex justify-content-between mt-3">
                                    <a href="#" class="bi-headphones me-1">
                                        <span>120k</span>
                                    </a>

                                    <a href="#" class="bi-heart me-1">
                                        <span>42.5k</span>
                                    </a>

                                    <a href="#" class="bi-chat me-1">
                                        <span>11k</span>
                                    </a>

                                    <a href="#" class="bi-download">
                                        <span>50k</span>
                                    </a>
                                </div> -->
                            </div>

                            <!-- <div class="d-flex flex-column ms-auto">
                                <a href="#" class="badge ms-auto">
                                    <i class="bi-heart"></i>
                                </a>

                                <a href="#" class="badge ms-auto">
                                    <i class="bi-bookmark"></i>
                                </a>
                            </div> -->
                        </div>
                    </div>
        </div>
        <!--  -->
    </div>
<!-- #############################################################3 -->
   
</div>


{% endblock body %}
<!--  -->
-----------------------------------------------------------------------------------------------------------------------
<!--  -->
{% block script %} 
 
{% endblock script%}

