{% extends 'User_views/base.html' %}
{% load static %}
<!--  -->
{% block title %}

    Home Page

{% endblock title%}
<!--  -->
-------------------
<!--  -->
{% block style %}

     .custom-nav-link {
            font-size: 30px; /* Adjust the font size as needed */
            /* Add other styles as needed */
        }


        
        ::webkit-scrollbar {
            width: 12px;
        }

        ::webkit-scrollbar-track {
            background-color: #f1f1f1;
        }

        ::webkit-scrollbar-thumb {
            background-color: #888;
            border-radius: 6px;
        }

        ::webkit-scrollbar-thumb:hover {
            background-color: #555;
        }

{% endblock style %}
<!--  -->
----------------------
<!--  -->
{% block body %}

    <ul class="nav nav-underline d-flex justify-content-center">
      <li class="nav-item">
        <a class="nav-link active custom-nav-link" aria-current="page" href="#">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-nav-link" href="#">Quotes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-nav-link" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-nav-link disabled" aria-disabled="true">Marketplace</a>
      </li>
    </ul>


<!--  -->
---------------------------------------------------------------------------------------------------------------------
<!--  -->
    <div class="row">
             <div class="col-md-3 " style="border-right: 1px solid #8a2be2;" bg-success >
                fafagfawe fafag fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe
             fafag fawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe
             fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe fafa gfawe
        </div>
        <div class="col-md-6" bg-danger style=" width: 670px;">
            <div class="webkit-scrollbar" style="overflow-y: scroll; height: 540px; width: 670px;">
                    <!-- Your scrolling content goes here -->
                    <!-- Adjust the height as needed -->
                    <p>Scrolling content...</p>

                {% for post in Posts %}
                  <div class="card text-center mt-3" style="width: 40rem;"  href="{% url 'post_detail_page' post.id %}">
                    <div class="card-header">
                       User: {{ post.user }} -{{ post.created_at|timesince }} ago.

                    </div>
                    <div class="card-body">
                        <img src="{{ post.image.url }}" class="card-img-top" alt="...">
                        <h5 class="card-title"></h5>
                        <p class="card-text">
                           <strong> {{ post.user }}:</strong> {{ post.text }}
                        </p>
                         <div class="col">
                              <a href="#" >#post</a>
                              <a href="#" >#IMG</a>
                              <a href="#" >#PIC</a>
                              <a href="#" >#PNG</a>

                         </div>
                      <div class="card-footer text-body-secondary">
                         <div class="col">
                          <p class="d-inline">Likes: {{ post.likes_count }} | </p>
                          <p class="d-inline">Saves: {{ post.saves.count }} | </p>
                          <p class="d-inline">Comments: {{ post.comments.count }}</p>
                      </div>
                  </div>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3 ">
               <div class="row">
        <!-- Single Advisor-->
        <div class="col-12 col-sm-12 col-lg-12">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <!-- Social Info-->
                    <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Samantha Sarah</h6>
                    <p class="designation">Founder &amp; CEO</p>
                </div>
            </div>
        </div>




    </div>

{% endblock body %}


