{% extends 'User_views/base.html' %}
{% load widget_tweaks %}
-----------------
{% block title %}

{% endblock title%}
------------------
{% block style %}

{% endblock style %}
------------------
{% block body %}
 <div class="container">
 </div>
      <ul>
         <li class="post">
          <h3>{{ post.text }}</h3>
           <img src="{{ post.image.url }}" alt="Post Image" width="300" height="300">
          <p>Post ID: {{ post.id }}</p>
          <p>Created at: {{ post.created_at }} - {{ post.created_at|timesince }} ago</p>
          <p>Likes: {{ post.likes_count }}</p>
          <p>User: {{ post.user }}</p>
         </li>
      </ul>
      <div class="saves">
                  <h4>Saves:</h4>
                  <ul>
                      {% for save in post.saves.all %}
                      <li>{{ save }}</li>
                      {% endfor %}
                  </ul>
              </div>


      <form action="" method ='post'>
          {% csrf_token %}
            <div class="input-group">
                {{ form.text.errors }}
                <div class="input-group-text">Comment: </div>
                {{form.text|add_class:" form-control-sm custom-form"}}
            </div>
          <!-- Button trigger modal -->
            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
      </form>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LikesBackdrop">
  likes
</button>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  comments
</button>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title-centered fs-5" id="staticBackdropLabel">Comments</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <div class="list-group">
              {% for comment in post.comments.all %}
                  <a href="#" class="list-group-item list-group-item-action {% if comment.user == request.user %}  active {% endif %}">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">List group item heading</h5>
                      <small>3 days ago</small>
                    </div>
                      {% if comment.user == request.user %}
                            <p class="mb-1">[You]   -   {{comment.text}}</p>
                      {% else %}
                        <p class="mb-1">{{comment.user}}   -   {{comment.text}}</p>
                        <small>-{{comment.user}} .</small>

                      {% endif %}
                  </a>
             {% endfor %}
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="LikesBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="likesBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="likesBackdropLabel">Likes</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
          <div class="list-group">
              {% for like in post.likes.all %}
                  <a href="#" class="list-group-item list-group-item-action {% if comment.user == request.user %}  active {% endif %}">
                    <div class="d-flex w-100 justify-content-between">
                      {% if comment.user == request.user %}
                         <h5 class="mb-1">[You]</h5>
                      {% else %}
                         <h5 class="mb-1">{{like.user}}</h5>
                      <small>3 days ago</small>
                    </div>
                      {% endif %}
                  </a>
             {% endfor %}
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

{% endblock body %}

