{% extends 'User_views/base.html' %}
-----------------
{% block title %}

{% endblock title%}
------------------
{% block style %}

{% endblock style %}
------------------
{% block body %}

      <ul>
         <li class="post">
          <h3>{{ post.text }}</h3>
           <img src="{{ post.image.url }}" alt="Post Image" width="300" height="300">
          <p>Post ID: {{ post.id }}</p>
          <p>Created at: {{ post.created_at }} - {{ post.created_at|timesince }} ago</p>
          <p>Likes: {{ post.likes_count }}</p>
          <p>User: {{ post.user }}</p>
         </li>
      </ul>
      <div class="saves">
                  <h4>Saves:</h4>
                  <ul>
                      {% for save in post.saves.all %}
                      <li>{{ save }}</li>
                      {% endfor %}
                  </ul>
              </div>
       <div class="comments">
                  <h4>Comments:</h4>
                  <ul>
                      {% for comment in post.comments.all %}
                      {% if comment.user == request.user %}
                            <p>[You]   -   {{comment.text}}</p>
                      {% else %}
                            <p>{{comment.user}}   -   {{comment.text}}</p>

                      {% endif %}

                    {% endfor %}
                </ul>
        </div>

      <form action="" method ='post'>
          {% csrf_token %}
            <div class="input-group">
                {{ form.text.errors }}
                <div class="input-group-text">Comment: </div>
                {{form.text|add_class:" form-control-sm custom-form"}}
            </div>
          <!-- Button trigger modal -->
            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>
      </form>
            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

{% endblock body %}

