{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock title%}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'SocialMedia/css/style.css' %}">
    <link href="C:\Users\DELL\PycharmProjects\web_app4\SMA\SocialMedia\static\css\style.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
        {% block script %}{% endblock script %}

    </script>

</head>
<div class="card">
    <div class="card-body text-center">
        <div class="profile-pic mb-3 mt-2">
            <img src="assets/images/users/5.jpg" width="150" class="rounded-circle" alt="user"/>
            <h4 class="mt-2">Daniel Kristeen</h4>
            <a href="mailto:danielkristeen@gmail.com">danielkristeen@gmail.com</a>
        </div>
        <div class="badge badge-pill badge-light font-16">Dashboard</div>
        <div class="badge badge-pill badge-light font-16">UI</div>
        <div class="badge badge-pill badge-light font-16">UX</div>
        <div class="badge badge-pill badge-info font-16" data-toggle="tooltip" data-placement="top" title="3 more">+3
        </div>
    </div>
    <div class="p-4 border-top">
        <div class="row text-center">
            <div class="col-6 border-right">
                <a href="#" class="link d-flex align-items-center justify-content-center font-medium"><i
                        class="mdi mdi-message font-20 mr-1"></i>Message</a>
            </div>
            <div class="col-6">
                <a href="#" class="link d-flex align-items-center justify-content-center font-medium"><i
                        class="mdi mdi-developer-board font-20 mr-1"></i>Portfolio</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-6">
            <!-- Section Heading-->
            <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s"
                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <h3>Our Creative <span> Team</span></h3>
                <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <!-- Social Info-->
                    <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Samantha Sarah</h6>
                    <p class="designation">Founder &amp; CEO</p>
                </div>
            </div>
        </div>
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s"
                 style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                    <!-- Social Info-->
                    <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Nazrul Islam</h6>
                    <p class="designation">UI Designer</p>
                </div>
            </div>
        </div>
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s"
                 style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                    <!-- Social Info-->
                    <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Riyadh Khan</h6>
                    <p class="designation">Developer</p>
                </div>
            </div>
        </div>
        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s"
                 style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                    <!-- Social Info-->
                    <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Niloy Islam</h6>
                    <p class="designation">Marketing Manager</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <nav class="menu">
            <ul class="items">
                <li class="item">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </li>
                <li class="item">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </li>
                <li class="item">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </li>
                <li class="item item-active">
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                </li>
                <li class="item">
                    <i class="fa fa-file" aria-hidden="true"></i>
                </li>
                <li class="item">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </li>
            </ul>
        </nav>

        <section class="discussions">
            <div class="discussion search">
                <div class="searchbar">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" placeholder="Search..."></input>
                </div>
            </div>
            <div class="discussion message-active">
                <div class="photo"
                     style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
                    <div class="online"></div>
                </div>
                <div class="desc-contact">
                    <p class="name">Megan Leib</p>
                    <p class="message">9 pm at the bar if possible 😳</p>
                </div>
                <div class="timer">12 sec</div>
            </div>

            <div class="discussion">
                <div class="photo"
                     style="background-image: url(https://i.pinimg.com/originals/a9/26/52/a926525d966c9479c18d3b4f8e64b434.jpg);">
                    <div class="online"></div>
                </div>
                <div class="desc-contact">
                    <p class="name">Dave Corlew</p>
                    <p class="message">Let's meet for a coffee or something today ?</p>
                </div>
                <div class="timer">3 min</div>
            </div>

            <div class="discussion">
                <div class="photo"
                     style="background-image: url(https://images.unsplash.com/photo-1497551060073-4c5ab6435f12?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80);">
                </div>
                <div class="desc-contact">
                    <p class="name">Jerome Seiber</p>
                    <p class="message">I've sent you the annual report</p>
                </div>
                <div class="timer">42 min</div>
            </div>

            <div class="discussion">
                <div class="photo" style="background-image: url(https://card.thomasdaubenton.com/img/photo.jpg);">
                    <div class="online"></div>
                </div>
                <div class="desc-contact">
                    <p class="name">Thomas Dbtn</p>
                    <p class="message">See you tomorrow ! 🙂</p>
                </div>
                <div class="timer">2 hour</div>
            </div>

            <div class="discussion">
                <div class="photo"
                     style="background-image: url(https://images.unsplash.com/photo-1553514029-1318c9127859?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);">
                </div>
                <div class="desc-contact">
                    <p class="name">Elsie Amador</p>
                    <p class="message">What the f**k is going on ?</p>
                </div>
                <div class="timer">1 day</div>
            </div>

            <div class="discussion">
                <div class="photo"
                     style="background-image: url(https://images.unsplash.com/photo-1541747157478-3222166cf342?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80);">
                </div>
                <div class="desc-contact">
                    <p class="name">Billy Southard</p>
                    <p class="message">Ahahah 😂</p>
                </div>
                <div class="timer">4 days</div>
            </div>

            <div class="discussion">
                <div class="photo"
                     style="background-image: url(https://images.unsplash.com/photo-1435348773030-a1d74f568bc2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80);">
                    <div class="online"></div>
                </div>
                <div class="desc-contact">
                    <p class="name">Paul Walker</p>
                    <p class="message">You can't see me</p>
                </div>
                <div class="timer">1 week</div>
            </div>
        </section>
        <section class="chat">
            <div class="header-chat">
                <i class="icon fa fa-user-o" aria-hidden="true"></i>
                <p class="name">Megan Leib</p>
                <i class="icon clickable fa fa-ellipsis-h right" aria-hidden="true"></i>
            </div>
            <div class="messages-chat">
                <div class="message">
                    <div class="photo"
                         style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
                        <div class="online"></div>
                    </div>
                    <p class="text"> Hi, how are you ? </p>
                </div>
                <div class="message text-only">
                    <p class="text"> What are you doing tonight ? Want to go take a drink ?</p>
                </div>
                <p class="time"> 14h58</p>
                <div class="message text-only">
                    <div class="response">
                        <p class="text"> Hey Megan ! It's been a while 😃</p>
                    </div>
                </div>
                <div class="message text-only">
                    <div class="response">
                        <p class="text"> When can we meet ?</p>
                    </div>
                </div>
                <p class="response-time time"> 15h04</p>
                <div class="message">
                    <div class="photo"
                         style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
                        <div class="online"></div>
                    </div>
                    <p class="text"> 9 pm at the bar if possible 😳</p>
                </div>
                <p class="time"> 15h09</p>
            </div>
            <div class="footer-chat">
                <i class="icon fa fa-smile-o clickable" style="font-size:25pt;" aria-hidden="true"></i>
                <input type="text" class="write-message" placeholder="Type your message here"></input>
                <i class="icon send fa fa-paper-plane-o clickable" aria-hidden="true"></i>
            </div>
        </section>
    </div>
</div>
</body>