{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock title%}
    </title>


    <style>
    body{
        Margin: 0px;

        Padding: 0px;

        Background-Color: #CCCCCC
    }
    ul{
        text-align: center;
        Background-Color: #444;
        list-style:none;


        Padding: 0px;

        Margin: 0px;


    }
    li{
        display: inline-block;
        font-size: 24px;
        Height: 40px;
        line-height: 40px;
        Padding: 20px;
    }
    a{
        text-decoration: none;
        color: #c30ce7;
    }
    footer { margin: 5px; padding: 5px 10px;
         border-radius: 3px; background-color: #dceaf4;
          border: 1px solid #bfcacb; } footer p { margin: 5px; }
    </style>


</head>
<nav >
            <ul type="none">
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">tutorials</a>
                </li>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Newsletter</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>

            </ul>

        </nav>
<div class="card">
    <div class="card-body text-center">
        <div class="profile-pic mb-3 mt-2">
            <img src="assets/images/users/5.jpg" width="150" class="rounded-circle" alt="user"/>
            <h4 class="mt-2">Daniel Kristeen</h4>
            <a href="mailto:danielkristeen@gmail.com">danielkristeen@gmail.com</a>
        </div>
        <div class="badge badge-pill badge-light font-16">Dashboard</div>
        <div class="badge badge-pill badge-light font-16">UI</div>
        <div class="badge badge-pill badge-light font-16">UX</div>
        <div class="badge badge-pill badge-info font-16" data-toggle="tooltip" data-placement="top" title="3 more">+3
        </div>
    </div>
    <div class="p-4 border-top">
        <div class="row text-center">
            <div class="col-6 border-right">
                <a href="#" class="link d-flex align-items-center justify-content-center font-medium"><i
                        class="mdi mdi-message font-20 mr-1"></i>Message</a>
            </div>
            <div class="col-6">
                <a href="#" class="link d-flex align-items-center justify-content-center font-medium"><i
                        class="mdi mdi-developer-board font-20 mr-1"></i>Portfolio</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-lg-6">

            <!-- Section Heading-->
            <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s"
                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <h3>Our Creative <span> Team</span></h3>
                <p>Appland is completely creative, lightweight, clean &amp; super responsive app landing page.</p>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="row">

        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s"
                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    <!-- Social Info-->
                    <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Samantha Sarah</h6>
                    <p class="designation">Founder &amp; CEO</p>
                </div>
            </div>
        </div>

        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.3s"
                 style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                    <!-- Social Info-->
                    <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Nazrul Islam</h6>
                    <p class="designation">UI Designer</p>
                </div>
            </div>
        </div>

        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.4s"
                 style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                    <!-- Social Info-->
                    <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Riyadh Khan</h6>
                    <p class="designation">Developer</p>
                </div>
            </div>
        </div>

        <!-- Single Advisor-->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s"
                 style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                <!-- Team Thumb-->
                <div class="advisor_thumb"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
                    <!-- Social Info-->
                    <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                            class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
                </div>
                <!-- Team Details-->
                <div class="single_advisor_details_info">
                    <h6>Niloy Islam</h6>
                    <p class="designation">Marketing Manager</p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
        <p>
            &copy; 2024 Developer
        </p>
        <p>
            Please contact <a  href="https://github.com/jigata120">Developer Jigata</a> for questions about these articles.
        </p>
    </footer>
</body>
</html>
*{
    padding: 0px;
    margin: 0px;
}
body{
    padding: 0.3em 1.3em;
}
header{
    display: flex;
    justify-content: space-between;

}
.title h1{
    color: blueviolet;
}
.title span{
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nav {
    display: flex;
    align-items: center;
    justify-items: center;

}
section{
    margin:3em 0em ;
}
.q{
    display: flex;
}
.col{
    width: 60%;

}
.col p{
    text-align: start;
    margin: 1em 0em ;
}
.col button{
    background-color: transparent;
    padding: 0.5em;
    border: 2px solid black;
    border-radius: 4px;
}
.planet{
    width: 40%;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.pic_planet{
    
    overflow: hidden;
}
.infoh1{
    text-align: center;
    margin-bottom: 2em ;

}
.team{
    display:flex;
    
    flex-wrap: wrap;
}
.member{
    width: 40%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.picture{
    border: 2px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.infomember p , footer .footh1{
 text-align: center;
}
.rank{
    padding-bottom: 1em;
}
.membername{
    padding-top: 1em;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin: 2em -2em;
    background-color: blueviolet;
}

footer h2{
    color: aliceblue;
}

.fromdiv{
    padding: 1em 0em;
}

.fromdiv input{
    width: 65%;
    display: inline-block;
}

.footh1 button{
    padding: 0.5em;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

    .navbar {
    
    overflow: hidden;
    display: none; 
    }

    .navbar a  {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    .navbar a:hover {
    background-color: #eceaea67;
    color: black;
    }
@media (min-width:645px){
   .member{
    width: 28%;

   } 
   .navbar{
    display: block;
   }
   .nav{
    display: none;
   }

}

@media (min-width:1000px){
    .team {width: 70%;   
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .q{ width: 80%;}
    section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
}
